/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include "klor_transform.dtsi"
#include "klor_layout.dtsi"

/ {
	chosen {
		zephyr,display = &oled;
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &klor_transform;
    zmk,physical-layout = &klor_physical_layout;
	};

  kscan0: kscan {
    label = "KSCAN";
		compatible = "zmk,kscan-gpio-matrix";
		diode-direction = "col2row";
    row-gpios
      = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
      , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
      , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
      , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
	};

  &klor_physical_layout {
    kscan = <&kscan0>;
    transform = <&klor_transform>;
  };

  encoder_left: left_encoder {
		compatible = "alps,ec11";
		label = "LEFT_ENCODER";
		resolution = <4>;
		status = "disabled";
	  a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	  b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
  };

  encoder_right: right_encoder {
  	compatible = "alps,ec11";
		label = "RIGHT_ENCODER";
		resolution = <4>;
		status = "disabled";
	  a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	  b-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
  };

  sensors {
    compatible = "zmk,keymap-sensors";
    triggers-per-rotation = <4>;
    sensors = <&encoder_left &encoder_right>;
  };
};


&pro_micro_i2c {
	status = "okay";

	oled: ssd1306@3c {
		label = "DISPLAY";
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		prechargep = <0x22>;
    inversion-on;
	};
};
